{% extends 'base.html' %}
{% block title %}Lista de Categorias - {{ block.super }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1><i class="bi bi-tags"></i> Categorias</h1>
    <a href="{% url 'categoria_create' %}" class="btn btn-primary">
        <i class="bi bi-plus-lg"></i> Nova Categoria
    </a>
</div>

<div class="card shadow-sm">
    <div class="card-body">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in page_obj %}
                <tr>
                    <td>{{ categoria.nome }}</td>
                    <td>
                        <a href="{% url 'categoria_update' categoria.id %}" class="btn btn-sm btn-outline-primary">
                            <i class="bi bi-pencil-fill"></i> Editar
                        </a>
                        <a href="{% url 'categoria_delete' categoria.id %}" class="btn btn-sm btn-outline-danger">
                            <i class="bi bi-trash-fill"></i> Excluir
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'paginacao.html' %} {% endblock %}